/**************common************/
html
{
    height: 100%;
}

body
{
    height: 100%;
    color: #333300;
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #FFFFFF; 
    min-width: 1000px;
}

a
{
    color: #333300;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}

table
{
    font-weight: normal;
}

.left
{
    text-align: left;
}

.center
{
    text-align: center;
}

.right
{
    text-align: right;
}

.banner
{
    width: 99%;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    background-color: #C9C9C7;
    font-family: Cambria;
    font-size: 14px;
    color: #000000;
    text-align: center;
    position: fixed;
}

#header
{
    top: 0px;
    float:top;
}

#footer
{
    bottom: 0px;
    float: bottom;
}

#centerPanel
{
    width: 80%;
    height: auto;
    margin: 0px auto;
    padding: 40px 0px;
    background-color: #FFFFFF;
}

#errorContainer
{
    width:70%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding-bottom: 20px;
    display: none;
}

input[type=submit]
{
    border : solid 1px #2490D0;
    font-size : 14px;
    margin: 2px;
    border-radius: 3px; 
    color : #ffffff;
    padding: 5px 10px;
    background-color : #2490D0;
}

input[type=button]
{
    border : solid 1px #2490D0;
    font-size : 14px;
    margin: 2px;
    border-radius: 3px; 
    color : #ffffff;
    padding: 5px 10px;
    background-color : #2490D0;
}

/**************common************/


