/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/4/22, 下午 10:48:08
    Author     : liwaihing
*/

#topPanel
{
    background-color: #151513;
    height: 60px;
    position: relative;
}

.topnav
{
    width: 80%;
    margin: auto;
    background-color: #151513;
    margin-top: 33px;
    height: 60px;
    position: relative;
}

#searcharea
{
    float:left;
    height: 60px;
    padding-left: 30px;
}

#searchquery
{
    margin: 0;
    width: 300px;
    padding: 7px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    position: relative;
}

#search
{
    margin: 0;
    padding: 7px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076A3; 
    border-right:0px;
    background: #3598DB;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

#search:hover
{
    background: #2A80B9;
}

#menuarea
{
    float: right;
    position: relative;
    height: 60px;
}

#menuarea ul
{
    list-style: none;
    position: relative;
}

#menuarea ul li
{
    float: left;
    position: relative;
    padding: 0px 10px;
}

#menuarea ul ul
{
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    float: bottom;
    padding: 0px;
    margin: 0px;
}

#menuarea ul li:hover > ul
{
    display: block;
    background-color: #E0E0E0;
}

#menuarea ul ul li
{
    float: none;
    display: block;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}

#menuarea ul ul li:hover
{
    background-color: #FFFFFF;
}